/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
/* ----Страница---- */
.page {
  font-family: var(--font-primary), sans-serif;
  background-image: var(--bg-gradients);
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--font-wieght);
}
/* ---Класс для щирины блоков---- */
.card-width {
  box-sizing: border-box;
  margin-right: clamp(0px, calc((100vw - 375px) * 0.37037), 370px);
  margin-left: clamp(0px, calc((100vw - 375px) * 0.37037), 370px);
  border: 2px solid black;
  background-color: #ffffff;
}
/* ----Шапка---- */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
  margin-top: 100px;
  margin-bottom: 96px;
  /* padding-right: clamp(110px, 122.5px, 140px);
  padding-left: clamp(110px, 122.5px, 140px); */
  padding-top: 130px;
  padding-bottom: 130px;
}
/* Заголовок */
.title {
  display: block;
  vertical-align: bottom;
  font-family: var(--font-accent), sans-serif;
  font-weight: 400;
  /* font-size: 65px; */
  font-size: clamp(3.0625rem, 2.7768rem + 1.4286vw, 4.0625rem);
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
}
/* Текст заголовка */
.title_text {
  font-family: var(--font-accent), sans-serif;
  font-weight: 400;
  /* font-size: 23px; */

  font-size: clamp(0.875rem, 0.7143rem + 0.8036vw, 1.4375rem);
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
}
/* ----Тело сайта---- */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  box-sizing: border-box;
}
/* Заголовок карточки */
/* Текст заголовка карточки */
.card-title-text {
  padding: var(--padding-title-card);
  vertical-align: middle;
  font-family: var(--font-primary), sans-serif;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  background-color: #ffffff;
  font-variation-settings: "wght" var(--font-wieght-bold);
}
/* Блок картинки */
.image-block {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
/* Надпись на картинке */
.lable {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 2;
  vertical-align: middle;
  opacity: 0.5;
  font-family: var(--font-accent), sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
  text-shadow: 1px 0 0 rgba(255, 255, 255, 1);
  mix-blend-mode: hard-light;
}
/* Картинка в карточке */
.image {
  display: block;
  width: 100%;
  height: 694px;
  object-fit: cover;
  object-position: center;
}
/* Блок текста в карточке */
.card-block-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: var(--padding-text-card);
  font-family: var(--font-primary), sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 21px;
  letter-spacing: 0;
  font-variation-settings: "wght" var(--font-wieght);
}
/* Контейнер с иконкой и кнопкой */
.button-container {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: var(--padding-button-container);
}
/* Кнопка с иконкой */
.card__icon-button {
  position: relative;
  box-sizing: border-box;
  height: 38px;
  margin-right: 6px;
  border: 2px solid transparent;
  padding: 0;
  outline: none;
  background-color: transparent;
  transition: border-color 0.3s ease;
}
/* Иконка */
.like-icon {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
}
/* Кнопка с надписью рядом с иконкой */
.card__like-button {
  width: 130px;
  height: 38px;
  padding: 0;
}
/* Текст кнопки */
.button__text {
  position: relative;
  display: block;
  color: var(--text-color);
  font-family: var(--font-accent), sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 90%;
  letter-spacing: 0;
  mix-blend-mode: difference;
}
/* ---Подвал---- */
/* ----Кнопки---- */
.button {
  position: relative;
  box-sizing: border-box;
  border: 2px solid #000000;
  background-color: var(--text-color);
  transition: box-shadow 0.3s ease;
}

/* Кнопка в подвале */
.button-save {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 8px;
  margin-bottom: 100px;
  padding: 15px 20px;
}
/* Кнопка в диалогом окне */
.button-ok {
  width: 100%;
}

/* ---Вспомогательные классы---- */
/* ---SVG--- */
/* Дискета в подвале */
.svg_floopy {
  position: relative;
  width: 21px;
  height: 21px;
  fill: var(--text-color);
  mix-blend-mode: difference;
}
/* Дискета в диалоге */
.svg_floopy-dialog {
  width: 39px;
  height: 39px;
}
/* ---События при фокусе---- */
/* Фокус иконки */
.card__icon-button:focus {
  border-color: transparent;
}
/* Фокус иконки */
.card__icon-button:focus-visible {
  border-color: black;
}
/* Фокус кнопок (Like, Сохранить на память, Ок)  */
.button:focus {
  box-shadow: 2px 2px 0 black;
  outline: none;
}
/* ---События при наведении---- */
/* Псевдолемент для заполнения */
/* Кнопка (Like, Сохранить на память, Ок) */
.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: black;
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

/* Наведение (Like, Сохранить на память, Ок)*/
.button:hover::before {
  transform: scaleX(1);
}
/* ----Диалоговое окно---- */
.dialog-save {
  box-sizing: border-box;
  border: 2px solid #000000;
  padding: 26px; /* 30 минус 2 бордера по 2 px*/
}

/* Открытие диалога */
.dialog-save[open] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
/* Затемнение фона */
.dialog-save::backdrop {
  background: rgba(0, 0, 0, 0.75);
}
/* Тело диалога */
.dialog-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding-bottom: 30px;
}
/* Текст диалога */
.dialog-text {
  width: 234px;
  font-family: var(--font-accent), sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 150%;
  letter-spacing: 0;
  text-transform: uppercase;
}
/* Текст кнопки в диалоге */
.button-ok-text {
  padding-top: 10.5px;
  padding-bottom: 10.5px;
}
/* ----Анимация иконки---- */
/* span в SVG картинке сердца */
/* Контур */
.contour {
  transition: fill 0.1s linear;
}
/* Тело */
.main-body {
  transition: fill 0.3s linear;
}
/* Сердцевина */
.core {
  transition: fill 0.3s linear 0.03s;
}
/* Искры */
.sparks {
  opacity: 0;
}
/* Наведение (сердцевина) */
.like-icon:hover .core {
  fill: black;
  transition: fill 0.3s linear 0s;
}
/* Наведение (тело) */
.like-icon:hover .main-body {
  fill: black;
  transition: fill 0.3s linear 0.05s;
}
/* При активации кнопки (сердцевина) */
.like-icon:active .core {
  fill: red;
  transition: fill 0.3s linear 0s;
}
/* При активации кнопки (Тело) */
.like-icon:active .main-body {
  fill: red;
  transition: fill 0.3s linear 0.05s;
}
/* При клике по иконке (сердцевина) */
.like-icon.is-liked .core {
  fill: red;
  transition: fill 0.3s linear 0s;
}
/* При клике по иконке (тело) */
.like-icon.is-liked .main-body {
  fill: red;
  transition: fill 0.3s linear 0.05s;
}
/* При клике по иконке (контур) */
.like-icon.is-liked .contour {
  fill: red;
  transition: fill 0.3s linear 0.06s;
}
/* При клике по иконке (группа span) */
.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scaleHeart 0.3s ease-in 0.1s forwards;
}
/* При клике по иконке (искры) */
.like-icon.is-liked .sparks {
  transform-origin: center;
  animation: sparkle 0.3s ease-in 0.3s forwards;
}
/* ----Фильтры для картинок---- */
/* увеличивает яркость на 90% от исходной */
.image-filter-brightness {
  filter: brightness(190%);
}
/* делает изображение чёрно-белым */
.image-filter-grayscale {
  filter: grayscale(100%);
}
/* уменьшает насыщенность цветов вдвое */
.image-filter-saturate {
  filter: saturate(50%);
}
/* добавляет эффект старой фотографии на 50% */
.image-filter-sepia {
  filter: sepia(50%);
}
/* увеличивает контрастность в 27 раз */
.image-filter-contrast {
  filter: contrast(270);
}
/* создает прозрачность */
.image-filter-opacity {
  filter: opacity(40%);
}
/* множественный фильтр*/
.image-filter-mn {
  filter: invert(20%) grayscale(100%) blur(2px);
}
/* Проверка поддержки text-stroke */
@supports (text-stroke: 1px rgba(255, 255, 255, 0.8)) {
  .lable {
    text-shadow: none;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 1);
    text-stroke: 1px rgba(255, 255, 255, 1);
  }
}
/* Для мобильных устройств */
@media (width <= 375px) {
  .header {
    margin-bottom: 100px;
    padding-top: 120px;
    padding-right: 16px;
    padding-bottom: 120px;
    padding-left: 16px;
  }

  .button-save {
    flex-direction: column;
  }

  .svg_floopy {
    width: 28px;
    height: 28px;
  }

  .image {
    height: 371px;
  }

  .card-title-text {
    padding: 4px 10px 0 10px;
    vertical-align: middle;
    font-family: var(--font-primary), sans-serif;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0;
    font-variation-settings: "wght" var(--font-wieght-bold);
  }

  .dialog-save {
    padding: 26px 36px; /* минус 2 бордера по 2 px*/
  }
}
